.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (width>800px) {
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .order {
    order: -1;
  }

  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
  }

  .grid_2-3 {
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .grid_3-2 {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .ph2 {
    max-width: 65ch;
  }

  .img1 {
    grid-column: span 2;
    grid-row: span 2;
  }
  .img4 {
    grid-column: span 2;
  }
  .img6 {
    grid-column: span 3;
  }
  .liste {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2em;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
